html, body {
  height: 100vh;
  margin: 0;
}

#mapid {
  height: 100%;
}

label {
  display: block;
}

.control-panel {
  padding: 1rem;
  background: #fff;
  height: 200px;
  width: 150px;
  z-index: 9999;
  position: fixed;
  top: 6rem;
  left: 2rem;
}